@import '../../index.scss';

.tabs_wrapper {
  background-color: #fdf9f8;
  margin: 144px 40px 40px 40px;
  padding: 100px 100px;
  @media screen and (max-width: $laptops-devices) {
    margin: 100px 0 0 0;
    padding: 50px 50px;
  }
  @media screen and (max-width: $tablet-devices) {
    padding: 25px 25px;
  }
}
